html, body{
    height: 100%;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Roboto Mono', monospace;
}

.bg{
    background-image: url(../images/img5.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.nav_bg{
    background-color: rgba(158,180,133,255);
    color: rgba(255,226,192,255);
}

.navbar {
    height: 60px; 
    padding-right: 25px;
}

.navbar-nav{
    text-align: center;
    background-color: rgba(158,180,133,255);
}

    .navbar .navbar-brand{
        font-size: 1.6em;
        color: rgba(41,58,40,255);
    }

.nav-link {
    position: relative;
    text-decoration: none;
    transition: font-size 0.3s;
}

.nav-link::before, .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: rgba(235,227,219, 0);
    transition: all 0.5s; 
}

.nav-link::before {
    transform: scaleX(0); 
    transform-origin: right;
}

.nav-link::after {
    transform: scaleX(0); 
    transform-origin: left;
}

.nav-link:hover::before, .nav-link:hover::after {
    transform: scaleX(1);
    background-color: rgba(235,227,219, 1);
    font-size: 1.2em;
}

.nav-item.active .nav-link {
    background-color: rgba(41,58,40, .2);
    color: white;
    border-radius: 5px; 
}

.nav-link:hover::before {
    transform: scaleX(1);
    background-color: rgba(235, 227, 219, 1);
    font-size: 1.2em;
}

.nav-link:hover {
    font-size: 1.1em;
    font-weight: bold;  
    transition: all 0.2s;
}

.footer {
    font-size: .9em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(158,180,133,255);
    color: #293a28;
    text-align: center;
    padding: 10px;
}
    .footer p{
        padding: 0;
        margin: 0;
    }

    .footer .registrado{
        font-size: .8em;
    }

@media screen and (max-width: 768px) {
    .bg{
        background-size: cover;
    }
}    